@model IEnumerable<Product>

<div>
    <div class="d-flex align-items-center">
        <h1>Products-List</h1>
        <div class="flex-grow-1 text-end">
            <a asp-action="Create" class="btn btn-dark">Create product</a>
        </div>
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Image</th>
                <th scope="col">Category</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr>
                    <th scope="row">@product.Id</th>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Amount</td>
                    <td><img width="100" alt="@product.Name" src="~/images/products/@(product.Image ?? "defaultProductImage.jpg")" /></td>
                    <td>@product.Category?.Name</td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-info">Edit</a>
                        <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
